body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

header {
    margin: 0 50px;
    display: flex;
    justify-content: space-between;

}
a {
    text-decoration: none;
    color: violet;
}
.timer {
    align-items: flex-end;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: 200px 100px; */
    padding: 20px;
    font-size: 1.5rem;
}

#start-container {
    margin: 10px;
    width: 100vw;
    max-width: 80%;
    text-align: center;
}

#question-container {
    margin: 10px;
    width: 100vw;
    max-width: 50%;
}

#question {
    font-weight: bold;
    font-size: 2rem;
    margin: 20px 0;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    align-items: stretch; */
}
.btn {
    background-color: rgb(58, 43, 226);
    color: white;
    text-align: start;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
}

.submit-btn {
    background-color: rgb(58, 43, 226);
    color: white;
    text-align: start;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 20px;
}

#result-container {
    border-top:solid 1px black ;
    margin: 20px 0;
    padding: 0 10px;
    font-style: italic;
    opacity: .5;
}

#end-container {
    margin: 10px;
    width: 100vw;
    max-width: 50%;
}
#enter-score {
    display: flex;
}

.hidden {
    display: none;
}